html,body{
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    background-color: black;
    color: white;
}
#nav-title{
    font-size: 18px;
    font-weight: bold;
}
#login-icon, #logout-icon, #add-icon{
    width: auto;
    height: 20px;
    margin: 0 10px;
}

#main{
    height: 90%;
    display: flex;
    flex-direction: row;


}



#leftContentContainer{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100000%;
    transition: width 2s ease-in-out;


}
#search-container{
    width: 100%;
    margin-top: 20px
}
#input-recherche{
    width: 100%;
    height: 30px;
    border:0;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #f3f3f3;
}
.nombre-coiffeur{
    color: #b7b7b7;
    font-size: 14px;
    font-style: italic;
    margin-top:1px;
}
.enseigne-coiffeur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    font-size: 14px;
    border-radius: 5px;
}
.enseigne-coiffeur:hover {
    background-color: #bb48bd;
}
.enseigne-coiffeur:hover .enseigne-coiffeur-info {
    color: white;
}
.enseigne-coiffeur-index{
    font-size: 50px;
    color: #ebebeb;
}

#logout-icon:hover , #add-icon:hover{
    cursor: pointer;
}

.rightContentContainer{
    background-color: beige;
    display: table-column;
    overflow: scroll;
}



#container-enseigne{
    overflow: auto;
}

.labelCell{
    text-align: right;
}

.valueCell{
    text-align: left;
}

.dataSheetTable {
    border-collapse: separate;
    border-spacing: 15px;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 5%;
}


#mapContainer{
    height: 60%;

}


.openingDataSheet{

    /*
    animation: slideFromRight 1.5s ease-in-out;
     */

    width: 100%;
    transition: width 2s ease-in;


}




@keyframes slideFromRight {
    from {
        transform: translateX(100%); /* Commence à droite de l'écran */
    }
    to {
        transform: translateX(0); /* Se déplace vers la gauche pour apparaître */
    }
}

