html{
    overflow-y: hidden;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    background-color: black;
    color: white;
}
#nav-title{
    font-size: 18px;
    font-weight: bold;
}
#login-icon, #logout-icon, #add-icon{
    width: auto;
    height: 20px;
    margin: 0 10px;
}

#main{
    display: flex;
    flex-direction: row;
}

#leftContentContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}
#search-container{
    width: 100%;
    margin-top: 20px
}
#input-recherche{
    width: 100%;
    height: 30px;
    border:0;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #f3f3f3;
}
.nombre-coiffeur{
    color: #b7b7b7;
    font-size: 14px;
    font-style: italic;
    margin-top:1px;
}
.enseigne-coiffeur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    font-size: 14px;
    border-radius: 5px;
}
.enseigne-coiffeur:hover {
    background-color: #bb48bd;
}
.enseigne-coiffeur:hover .enseigne-coiffeur-info {
    color: white;
}
.enseigne-coiffeur-index{
    font-size: 50px;
    color: #ebebeb;
}

#logout-icon:hover , #add-icon:hover{
    cursor: pointer;
}

.rightContentContainer{
    width: 100%;
    background-color: beige;
    display: table-column;
    overflow: scroll;
}


#container-enseigne{
    overflow: auto;
    max-height: 550px;
}

.labelCell{
    text-align: right;
}

.valueCell{
    text-align: left;
}

.dataSheetTable {
    border-collapse: separate;
    border-spacing: 15px;
    margin-top: 10%;
    margin-left: 0px;
}


#mapContainer{
    width: 100%;
    height: 100%;

}